*{
    margin: 0;
    padding: 0;
}
.top{
    background: rgb(214, 236, 239);
    border-radius: 0.5rem;
    padding: 1rem 0 0 2rem;
    width: 50%;

}

.top h1{
    color: royalblue;

}

.top h2{
    color: seagreen;
}

.left{
    background: brown;
    color: white;
    padding: 1rem 0 1rem 2rem;
    width: 25%;
}

.left h3{
    background: green;
    border-radius: 2rem;
    text-align: center;
    width: 70%;
    height: 2rem;
    box-shadow: 0.8px 0.8px;
}
.left a{
    color: white;
    text-decoration: none;
    text-align: center; 
}
a:hover{
    opacity: 0.8;

}

#bottom{
    display: flex;
}
.right{
    background: blue;
    padding:  1rem 0 1rem 2rem;
    width: 25%;
}